.card{
    width: 75%;
    background-color: $white;
    padding: 1.75rem 1.75rem;
    margin-bottom: 1.5rem;
    line-height: 1.7rem;
    justify-self: center;

    &__title{
        position: relative;
        padding-bottom: 0.75rem;
        padding-left: 0.35rem;
    }
    &__price{
        position: relative;
        padding-bottom: 1.75rem;
        padding-left: 0.35rem;
        border-bottom: 1px solid $raising-black;
        margin-bottom: 1.75rem;
    }
    &__list{
        position: relative;
        list-style-type: disc;
        width: 80%;
        padding: 0 2.5rem;
        padding-bottom: 5rem;
    }
    &__item{
        position: relative;
        padding-bottom: 1.25rem;
    }
    &__btn{
        position: relative;
        padding: 1.5rem 0;
        border-top: 1px solid $raising-black;
    }
}

@media only screen and (min-width: 768px){
    .card{
        &__btn{
            &--bottom{
                top: 10.5rem;
            }
        }
    }
}

@media only screen and (min-width: 996px){
    .card{
        width: 65%;
        &__btn{
            &--bottom{
                top: 9rem;
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .card{
        width: 60%;
    }
}