body{
    font-family: $raleway;
    font-size: $medium;
}

h1{
    font-size: $xxxxx-large;
    font-weight: 700;
    line-height: 3.7rem;
}

h2{
    font-size: $xx-large;
    font-weight: 700;
    line-height: 3.7rem;
}

h3{
    font-size: $x-large;
    font-weight: 700;
}

h4{
    font-size: $large;
    font-weight: 700;
    line-height: 3.7rem;
}

p{
    line-height: 1.7rem;
}